body {
    height: 100%;
    width: 100%; 
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.image1 {
    width: 300px;
    height: 300px;
    padding: 0px 10px 0px 0px;
    
    float: left;

}

.about {
    margin: 0px 0px 0px 0px;
}

.container {
    margin-top: 40px;
    background-color: white;
}

.navbar.bg-light {
    background-color: white !important;
    border: 1px solid #1a1a1a;
}

.contact {
    margin-top: 20px;
    margin-left: 40px;
    width: 960px;
    background-color: white !important;
}

